<div>
  <h5><%= distance_of_time_in_words(comment.job.created_at, comment.created_at) %> after the original job posting</h5>
  <p><%= comment.body %></p>
  <p><%= link_to "Delete", job_comment_path(comment.job, comment), method: 'delete' %></p>
</div>
