<div class="row">
  <ul class="col s4">
    <li>Contact Name: <%= contact.name %></></li>
    <li>Contact's Position: <%= contact.position %></li>
    <li>Contact's email: <%= contact.email %></li><br>
  </ul>
</div>
