<h2>This Tag:</h2>
<h4>Tag Name: <%= @tag.name %></h4>
<p>Jobs associated with this tag: </p>
<% @tag.jobs.each do |job| %>
<ul>
  <li><%= link_to job.title, job_path(job) %> at <%= link_to job.company.name, company_path(job.company) %></li>
</ul>
<% end %>
